*
**/.DS_Store
!.gitignore
!LICENSE.txt
!README.md
!fonts/
!fonts/**
!yabai/
!yabai/**
!skhd/
!skhd/**
!sketchybar/
!sketchybar/**
!git/
!git/config
!git/config-panther
!vim/
!vim/**
!vimium/
!vimium/**
!zsh/
!zsh/**
