*
**/.DS_Store
!.gitignore
!LICENSE.txt
!README.md
!Makefile
!git/
!git/config
!git/config-panther
!kitty/
!kitty/**
!skhd/
!skhd/**
!sketchybar/
!sketchybar/**
!vim/
!vim/**
!yabai/
!yabai/**
!zsh/
!zsh/**
